TalentoHumano/src/conf/xml-resources/web-service-references/StartESBService/wsdl/10.0.2.22_8080/TalentoHumano/StartESBService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://SOAPService.BusinessLogic/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="StartESBService" targetNamespace="http://SOAPService.BusinessLogic/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://SOAPService.BusinessLogic/" elementFormDefault="unqualified" targetNamespace="http://SOAPService.BusinessLogic/" version="1.0">

  <xs:element name="createEvent" type="tns:createEvent"/>

  <xs:element name="createEventResponse" type="tns:createEventResponse"/>

  <xs:complexType name="createEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventName" type="xs:string"/>
      <xs:element name="MonthFilter" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createEventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:robESB"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="robESB">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" type="xs:string"/>
      <xs:element minOccurs="0" name="err_message" type="xs:string"/>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createEvent">
    <wsdl:part element="tns:createEvent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createEventResponse">
    <wsdl:part element="tns:createEventResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StartESBService">
    <wsdl:operation name="createEvent">
      <wsdl:input message="tns:createEvent" name="createEvent">
    </wsdl:input>
      <wsdl:output message="tns:createEventResponse" name="createEventResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StartESBServiceSoapBinding" type="tns:StartESBService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createEvent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createEvent">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createEventResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StartESBService">
    <wsdl:port binding="tns:StartESBServiceSoapBinding" name="StartESBServicePort">
      <soap:address location="http://10.0.2.22:8080/TalentoHumano/StartESBService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>